@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>On The Way Mini-Mart</h1>
    <p>Get the local updated information for the locals.</p>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Manilla Topix</h2>
        <p>
            The local News and Weather for Manilla, Indiana.
        </p>
        <br />
        <p><a class="btn btn-default" href="http://www.topix.com/city/manilla-in" target="_blank">Local Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lottery</h2>
        <p>Lottery Winning Numbers</p>
        <br />
        <p><a class="btn btn-default" href="http://www.lotteryusa.com/indiana/" target="_blank">Winning Numbers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Giant 96</h2>
        <p>Local Radio Station for more news.</p>
        <br />
        <p><a class="btn btn-default" href="http://tunein.com/radio/Giant-96-965-s201898/" target="_blank">Giant 96 &raquo;</a></p>
    </div>
</div>